* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.splashload{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 25, 25);
    width: 100%;
    height: 100vh;
}


#root {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
}

:root {
    --bgColor: rgb(0, 15, 90);
    --fontFamily: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    padding: 13px;
    display: flex;
    background-color: var(--bgColor);
    color: white;
    font-family: var(--fontFamily);
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}

#siteLogoContainer{
    display: flex;
    gap: 11px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#siteLogo {
    font-size: 27px;
    letter-spacing: .5px;
    word-spacing: .5px;
    color: white;
}
a {text-decoration: none}

nav {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: white;
    font-size: 19px;
}

.active {
    color: rgb(114, 201, 255);
}

nav a:hover {
    color: rgb(93, 193, 255);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Crimson Pro', serif;
}

/* Login, Sign Up, Add Artist */
#loginContainer,
#signUpContainer,#addArtistMainContainer {
    box-shadow: 0px 0px 13px rgb(137, 172, 208);
    width: 60%;
    height: auto;
    display: flex;
}

#loginImage,
#signUpImage,#addArtistIllustration {
    height: auto;
    width: 50%;
}

#loginImage img,
#signUpImage img,#addArtistIllustration img {
    border-right: 1px solid rgb(234, 234, 234);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#loginDetails,
#signUpDetails,#artistDetails {
    padding: 13px;
    width: 50%;
}

#loginTitle,
#signUpTitle,#addArtistTitle {
    font-size: 30px;
    margin: 17px 0px;
    color: rgb(8, 108, 215);
}

#signUpTitle {
    color: black;
}

#loginForm,
#signUpForm,#addArtistForm {
    display: flex;
    flex-direction: column;
}

#loginForm input,
button,
span,
#signUpForm input,
button,
span,#addArtistForm input,button,label,#displayArtist {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 4px;
    font-size: 14.3px;
    margin: 17px 0px;
}

#loginForm input,
#signUpForm input,#addArtistForm input {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--bgColor);
}

#loginForm input:focus,
#signUpForm input:focus,#addArtistForm input:focus {
    box-shadow: 0px 0px 10px rgb(90, 109, 255);
}

#loginForm #otherLoginOptions {
    text-align: center;
}

#otherLoginOptions .faIcons {
    font-size: 23px;
    margin: 13px 7px;
    cursor: pointer;
}

#loginForm button,
#signUpForm button,#addArtistForm button,#displayArtist{
    padding: 13px;
    background-color: rgb(140, 152, 225);
    color: white;
    border: none;
    font-weight: bold;
    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: linear;
    cursor: pointer;
}

#loginForm button:hover,#displayArtist:hover {
    background-color: rgb(172, 183, 255);
    color: rgb(43, 43, 43);
}

/* Sign Up */
#signUpContainer {
    height: auto
}

/* Sign Up & Add Artist Button */
#signUpForm button,#addArtistForm button {
    background-color: rgb(255, 88, 96);
    margin-top: 20px;
}

#signUpForm button:hover,#addArtistForm button:hover {
    background-color: orangered
}

/* ADMIN Section */
/* Manage artist page */
.mainArtistContainer{    
    width: 100%;
    height: 100%;
}
.artistListMainContainer,.addArtistMainContainer{
    border:2px solid rgb(130, 130, 130);
    padding: 10px;
    width: 90%;
    margin: 13px auto;
}
.artistListContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.artist{
    border:2px solid red;
    padding: 40px;
}

/* Add Artist */
.addArtistForm{
    border:2px solid red;
    display: flex;
    flex-direction: column;
}
#displayArtist{
    text-align: center;
}
/* Footer */
footer {
    background-color: var(--bgColor);
    color: white;
    font-weight: bold;
    font-family: var(--fontFamily);
    letter-spacing: 1px;
    padding: 14px;
    display: grid;
    place-content: center;
}
