* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.splashload{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 25, 25);
    width: 100vw;
    height: 100vh;
}


#root {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
}

:root {
    --bgColor: rgb(0, 15, 90);
    --fontFamily: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    padding: 13px;
    display: flex;
    background-color: var(--bgColor);
    color: white;
    font-family: var(--fontFamily);
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}

#siteLogoContainer{
    display: flex;
    gap: 11px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#siteLogo {
    font-size: 27px;
    letter-spacing: .5px;
    word-spacing: .5px;
    color: white;
}
a {text-decoration: none}

nav{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    font-size: 19px;
}

.active {
    color: rgb(114, 201, 255);
}

nav a:hover {
    color: rgb(93, 193, 255);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Crimson Pro', serif;
}

/* Login, Sign Up, Add Artist & Add Song */
#loginContainer,
#signUpContainer,#addArtistMainContainer,#addSongMainContainer {
    box-shadow: 0px 0px 13px rgb(137, 172, 208);
    width: 60%;
    height: auto;
    display: flex;
}

#loginImage,
#signUpImage,#addArtistIllustration,#addSongIllustration {
    height: auto;
    width: 45%;
}

#loginImage img,
#signUpImage img,#addArtistIllustration img,#addSongIllustration img{
    border-right: 1px solid rgb(234, 234, 234);
    width: 100%;    
    height: 100%;
    object-fit: contain;
}

#loginDetails,
#signUpDetails,#artistDetails,#songDetails {
    padding: 13px;
    width: 55%;
}

#loginTitle,
#signUpTitle,#addArtistTitle,#addSongTitle {
    font-size: 30px;
    margin: 17px 0px;
    color: rgb(8, 108, 215);
}

#signUpTitle {color: black}

#loginForm,
#signUpForm,#addArtistForm,#addSongForm {
    display: flex;
    flex-direction: column;
}

#loginForm input,
button,
span,
#signUpForm input,
button,
span,#addArtistForm input,button,label,#addSongForm input,button,label,#displayArtist,#displaySong {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 4px;
    font-size: 14.3px;
    margin: 17px 0px;
}
/* Song Genre */
#addSongForm #songGenre{
    border-bottom:2px solid rgb(227, 227, 227);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#songGenre input{    
    accent-color: orangered;
}
#addSongForm strong{    
    font-size: 18px;
    font-family: var(--fontFamily);
}
#loginForm input,
#signUpForm input,#addArtistForm input,#addSongForm input {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--bgColor);
}

#loginForm input:focus,
#signUpForm input:focus,#addArtistForm input:focus,#addSongForm input:focus {
    box-shadow: 0px 0px 10px rgb(90, 109, 255);
}

#loginForm #otherLoginOptions {
    text-align: center;
}

#otherLoginOptions .faIcons {
    font-size: 23px;
    margin: 13px 7px;
    cursor: pointer;
}

#loginForm button,
#signUpForm button,#addArtistForm button,#addSongForm button,#displayArtist,#displaySong{
    padding: 13px;
    background-color: rgb(140, 152, 225);
    color: white;
    border: none;
    font-weight: bold;
    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: linear;
    cursor: pointer;
}

#loginForm button:hover,#displayArtist:hover,#displaySong:hover {
    background-color: rgb(172, 183, 255);
    color: rgb(43, 43, 43);
}

/* Sign Up */
#signUpContainer {
    height: auto;
}

/* Sign Up & Add Artist Button */
#signUpForm button,#addArtistForm button,#addSongForm button {
    background-color: rgb(255, 88, 96);
    margin-top: 20px;
}

#signUpForm button:hover,#addArtistForm button:hover,#addSongForm button:hover {
    background-color: orangered;
}

/* ADMIN Section */
/* Manage artist & Manage Song */
.mainArtistContainer{    
    width: 100%;
    height: 100%;
}
#addArtistMainContainer,#addSongMainContainer{    
    padding: 10px;
    width: 67%;
    margin: 13px auto;
}
#addArtistTitleContainer{
    display: flex;
    flex-direction: row;
}
.artistListMainContainer{
    width: 90%;
    /* border: 2px solid red; */
    margin: 20px auto;
}
.artistListContainer,.songListContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    cursor: pointer;
}
.artist,.song{
    /* border-bottom:1px solid dodgerblue; */
    width: 230px;
    height: 230px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.artistImageContainer,.songImageContainer{
    border-radius: 50%;
    /* border:2px solid dodgerblue; */
    width: 85%;
    height: 85%;
    overflow: hidden;    
}
.artistImageContainer img,.songImageContainer img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.artistName,.songName{
    text-align: center;
    color: var(--bgColor);
    letter-spacing: .7px;
    font-size: 18px;
    margin-top: 7px;
}

/* Add Artist & Add Song */
.addArtistForm,.addSongForm{
    border:2px solid red;
    display: flex;
    flex-direction: column;
}
#displayArtist,#displaySong{
    text-align: center;
}
/* Footer */
footer {
    background-color: var(--bgColor);
    color: white;
    font-weight: bold;
    font-family: var(--fontFamily);
    letter-spacing: 1px;
    padding: 14px;
    display: grid;
    place-content: center;
}

@media only screen and (max-width: 768px){
    header{
        display: flex;
        flex-direction: column;
    }

    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }

    .navlist{
        padding: 10px;  
    }

    #loginContainer, #signUpContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #loginImage, #signUpImage{
        height: 100%;
        width: 100%;
    }

    #signUpTitle{
        font-size: 25px;
    }

    #addArtistMainContainer, #addSongMainContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #addArtistIllustration, #addSongIllustration{
        height: 100%;
        width: 100%;
    }

    #addArtistTitle, #addSongTitle{
        font-size: 25px;
        align-self: center;
        text-align: center;
    }

    #addArtistForm{
        align-items: center;
    }

    #artistImage{
        width: 150%;
        height: auto;
        align-items: center;
    }
    
    #artitstChooseImage{
        width: 150%;
        height: auto;
        text-align: center;
    }

    #songChooseImage, #songChoose{
        width: auto;
        height: auto;
        text-align: center;
    }
}